*{
    margin: 0;
    padding: 0;
}

.contact{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    background-color: red;
    border-radius: 6px;
}